<div class="container">
    <h2 class="text-center">Lista de Posts</h2>
  
    <!-- Mostrar mensaje si no hay posts -->
    <div *ngIf="posts.length === 0" class="alert alert-warning text-center">
      No hay posts disponibles.
    </div>
  
    <!-- Mostrar lista de posts si existen -->
    <div *ngIf="posts.length > 0">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let post of posts">
          <h4>{{ post.title }}</h4>
          <img [src]="post.imageUrl" alt="Post Image">
            <p>Publicado por: {{ post.userName }}</p>
          <small class="text-muted">Publicado el: {{ post.date | date:'dd/MM/yyyy' }}</small>
        </li>
      </ul>
    </div>
  </div>