<app-upper-bar-register></app-upper-bar-register>
<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="font-extrabold text-center text-2xl mb-6">Registrarse</h2>
    <div *ngIf="error" class="bg-red-500 text-white text-sm p-3 rounded-md mb-4">
      <ul>
        <li *ngFor="let err of errorMessage">{{ err }}</li>
      </ul>
    </div>
    <form [formGroup]="form" (ngSubmit)="register()" novalidate>
      <div class="relative z-0 w-full mb-6 group">
        <input type="text" id="name" formControlName="name" 
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
          placeholder=" " required />
        <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-500 transition-all -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6">
          Nombre
        </label>
        <small *ngIf="nameValidate" class="text-red-500 font-medium">El nombre es requerido.</small>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <input type="email" id="email" formControlName="email" 
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
          placeholder=" " required />
        <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-500 transition-all -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6">
          Correo Electrónico
        </label>
        <small *ngIf="emailValidate" class="text-red-500 font-medium">El correo electrónico es requerido y debe ser válido.</small>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <input type="password" id="password" formControlName="password" 
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
          placeholder=" " required />
        <label for="password" class="peer-focus:font-medium absolute text-sm text-gray-500 transition-all -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6">
          Contraseña
        </label>
        <small *ngIf="passwordValidate" class="text-red-500 font-medium">La contraseña es requerida.</small>
        <small *ngIf="passwordPatternValidate" class="text-red-500 font-medium">La contraseña debe tener al menos un número.</small>
        <small *ngIf="!passwordPatternValidate && passwordminLengthValidate" class="text-red-500 font-medium">La contraseña debe tener al menos 6 caracteres.</small>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <input type="password" id="confirmPassword" formControlName="confirmPassword" 
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
          placeholder=" " required />
        <label for="confirmPassword" class="peer-focus:font-medium absolute text-sm text-gray-500 transition-all -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6">
          Confirmar Contraseña
        </label>
        <small *ngIf="passwordMatchValidate" class="text-red-500 font-medium">Las contraseñas no coinciden.</small>
      </div>
      <button type="submit" [disabled]="form.invalid" 
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">
        Registrarse
      </button>
    </form>
  </div>
</div>
